* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;

  display: grid;
  grid-template-rows: 1fr 10fr;
}

header {
  background-color: darkblue;
  color: white;

  grid-row: 1 / span 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

#content-area {
  grid-row: 2 / span 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#current-weather-content {
  height: 370px;
  width: 200px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

#current-weather-icon {
  height: 150px;
  width: 150;
}

#datetime-display,
#location-display {
  height: 50px;
  text-wrap: nowrap;
}

#datetime-display,
#location-display,
#current-weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#description-display {
  height: 50px;
}

#current-temperature {
  height: 40px;
}

#current-feelslike {
  height: 30px;
}

#description-display,
#current-temperature,
#current-feelslike,
#tempmin-display,
#tempmax-display {
  text-align: center;
}

#temperature-toggle {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#temperature-toggle-checkbox {
  height: 15px;
  width: 15px;
}

#temperature-toggle > label,
#temperature-toggle-checkbox {
  cursor: pointer;
}

#loading-display {
  position: absolute;
  top: 45%;
  left: 48%;
  font-size: 1.4em;
}

form {
  margin-top: 150px;
}

#search-error {
  height: 30px;
  color: red;
}
