* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  display: grid;
  grid-template-rows: 1fr 10fr;
}

header {
  background-color: darkblue;
  color: white;

  grid-row: 1 / span 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

#content-area {
  grid-row: 2 / span 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

#current-weather-content {
  height: 320px;
  width: 200px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

#location-display {
  height: 50px;
  text-wrap: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
}

#current-weather-icon {
  height: 150px;
  width: 150;

  display: flex;
  justify-content: center;
  align-items: center;
}

#description-display {
  height: 50px;
  text-align: center;
}

#current-temperature {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#current-feelslike {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
